<nav class="navbar navbar-expand-lg bg-body-tertiary navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><i class="fa-solid fa-cloud"></i> WEBD6201 <i class="fa-solid fa-cloud"></i></a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
        <li><a class="nav-link" href="/"><i class="fa-solid fa-house"></i> Home</a></li>
        <li><a class="nav-link" href="/products"><i class="fa-solid fa-rectangle-list"></i> Products</a></li>
        <li><a class="nav-link" href="/services"><i class="fa-solid fa-landmark-dome"></i> Services</a></li>
        <li><a class="nav-link" href="/about"><i class="fa-solid fa-circle-info"></i> About Us</a></li>
        <li><a class="nav-link" href="/contact"><i class="fa-solid fa-phone"></i> Contact Us</a></li>
        <li id="login"><a class="nav-link" href="/login"><i class="fa-solid fa-right-to-bracket"></i> Login</a></li>
      </ul>
    </div>
  </div>
</nav>